# Virtual environments
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp

# Build artifacts
build/
dist/
*.egg-info/

# Logs
logs/
*.log

